aclocal.m4
config.guess
config.h.in
configure
config.sub
build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
*.lo
Makefile
Makefile.in
.deps
.libs
config.h
config.status
configure
*.la
*.gmo
stamp-h1
libtool
intltool-update
build-stamp
config.guess
config.sub
depcomp
install-sh
debian/files
libltdl/config.log
libltdl/config.status
libltdl/libtool
debian/ise-default-dbg.substvars
debian/ise-default-dbg/
debian/ise-default.install
debian/ise-default.substvars
debian/ise-default/
po/POTFILES
*.tmp

