Source: ise-default
Section: libs
Priority: optional
Maintainer: Ankush Dua <ankush.d@samsung.com>
Uploaders: Ankush Dua <ankush.d@samsung.com>, Janani K <janani.k@samsung.com>, Sungmin Kwak <sungmin.kwak@samsung.com>, Ji-hoon Lee <dalton.lee@samsung.com>, Jihoon Kim <jihoon48@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libelm-dev, libslp-utilx-dev, libisf-dev, libslp-setting-dev, libheynoti-dev, libslp-sensor-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: ise-default
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizen keyboard

Package: ise-default-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizen keyboard (unstripped)
